* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  /* display: flex; */
}

.portfolio {
  font-family: "Raleway", sans-serif;
}

.portfolio__like,
.portfolio__footer {
  /* position: relative;
  width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__yellowDiv,
.like__yellowDiv {
  padding: 1rem;
  position: absolute;
  /* top: 10rem; */
  /* left: 15rem; */
  /* width: 10%; */
  text-transform: uppercase;
  background-color: #fde500;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.4rem;
}

.portfolio__like {
  height: 10rem;
}

.port__bg {
  max-width: 100%;
  max-height: 100%;
}

.portfolio__photos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.photo3 {
  position: relative;
  z-index: 1;
}

.colorfulBuildingsImg {
  position: absolute;
  z-index: 2;
}

.photo3__yellowBG {
  position: absolute;
  background: #fde500;
  opacity: 0.9;
  height: 70%;
  width: 70%;
  z-index: 3;
  top: 14%;
  left: 14%;
}

.photo3__branding {
  font-size: 0.5rem;
  text-align: center;
  position: relative;
  background: white;
  padding: 0.5rem;
  width: 90%;
  z-index: 3;
  top: 4rem;
  left: 0.5rem;
  height: 50%;
}

.photo3__branding-content {
  font-size: 0.7rem;
}

.photo3__branding-header {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.portfolio__header,
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.portfolio__header-content {
  width: 50%;
}

.header__content > * {
  margin-top: 0.7rem;
  text-align: center;
}

.port__axe {
  margin-top: 3rem;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 2rem 0;
}

.leftNav,
.rightNav {
  text-transform: uppercase;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  padding: 1rem 0;
  font-size: 0.7rem;
}

.spSvg {
  height: 3rem;
}

.portfolio__header-title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.services {
  background: #f4f4f4;
}
.servicesBoxTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.img1 {
  width: 50px;
}
h1 {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
}
.servicesBoxTopSpan {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}
.boxContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 90%;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
}
.headerBox {
  font-size: 20px;
}
.spanBox {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: center;
}
.servicesBar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
}
.imgBoxService {
  font-size: 10%;
  margin-bottom: 10px;
}

.servicesBarHeader {
  font-size: 20px;
}

.backgroundBar {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  width: 90%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mountain {
  width: 1920px;
  height: 800px;
  background-image: url("resources/Header.jpg");
  background-size: 100% 100%;
  position: relative;
  font-family: "Raleway", sans-serif;
  max-width: 100%;
  max-height: 100%;
  /* background-size: cover; */
}
.mountain img {
  position: absolute;
  left: 368px;
  top: 16px;
}

.mountain-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.mountain-content .content__h1 {
  color: white;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.64em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mountain-content .content__h2 {
  color: white;
  font-weight: 400;
  text-align: center;
  margin-bottom: 80px;
  font-size: 13px;
  letter-spacing: 0.37em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mountain-content .content__button {
  background-color: yellow;
  padding: 0.8rem;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.37em;
}

.mountainText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mountainText img {
  margin: 5rem;
  width: 153px;
  height: 80px;
}

.mountainText div {
  width: 636px;
  height: 99px;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #0b0b0b;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #0b0b0b;
  font-family: "Raleway", sans-serif;
  color: white;
  padding: 3rem 13rem;
  font-size: 1rem;
  font-weight: 100;
  line-height: 2rem;
}

.whitesp {
  width: 4rem;
  height: 4rem;
}

.footer__text-content,
.contactUs__content {
  font-size: 0.8rem;
  line-height: 1.2rem;
  width: 80%;
}
.yellowEmail {
  background-color: #fde500;
  color: #0b0b0b;
  border-radius: 2rem;
  text-align: center;
  padding: 0 0.6rem;
  margin: 1rem 0;
  font-size: 0.7rem;
}

.footer__img {
  margin: 0 0.3rem;
  width: 1.3rem;
}
.contactUs__upper,
.aboutUs__upper,
.links,
.yellowEmail {
  font-weight: 400;
}
